*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

html {
  font-size: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  min-height: 600px;
  background: url(../image/header.png) no-repeat center;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.main-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  position: absolute;
  background-image: -moz-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -webkit-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -ms-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
}

.call-to-action-overlay {
  background-image: -moz-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -webkit-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -ms-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;
  z-index: 2;
  height: 10vh;
  align-items: center;
}

.menu {
  width: 70%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 700;
}

 .get-started-btn {
  margin-left: 60px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20vh;
  text-transform: uppercase;
  opacity: 0.7;
  transition: 0.3s ease;
}

.get-started-btn:hover {
  opacity: 1;
}

.main-text {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-text p {
  font-size: 1.9rem;
}

.main-text h1 {
  font-size: 86px;
  margin: 0.5rem;
  font-weight: 500;
  font-family: 'Monoton', 'Ubuntu', sans-serif;
  letter-spacing: 0.5rem;
}

.main-text span {
  display: inline-block;
  font-weight: 600;
  font-size: 2.3rem;
}

.main-text span::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.main-text span::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.main-arrow {
  position: relative;
  z-index: 2;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.table {
  background-color: #f9fafc;
  padding: 10rem;
}

.table-header {
  text-align: center;
}

.table-header p {
  font-size: 1.8rem;
  display: inline-block;
  width: 40rem;
  line-height: 1.4;
  color: #9fa4af;
}

.table-header h2 {
  color: #5a1f90;
  font-size: 6rem;
  margin: 0;
}

.table-header span {
  font-size: 2rem;
  color: #9fa4af;
}

.table-header span::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: rgb(70,175,235);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.table-header span::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: rgb(70,175,235);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.price-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-tag {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 35rem;
  height: 500px; /* 400px */
  transition: .25s ease;
  border: 1px solid #d7dbe8;
}

.price-tag:hover {
  cursor: pointer;
  box-shadow: 0px 0px 65px 10px rgba(204, 204, 223, 0.71);
}

.price-tag span {
  font-size: 1.4rem;
  color: #9fa4af;
  font-weight: 700;
  margin-top: 2rem auto 1rem;
  text-transform: uppercase;
}

.price-tag h4 {
  margin: 1rem;
  font-size: 3.5rem;
  color: #4f4f6f;
  font-weight: 500;
}

.price-tag h4 sub {
  font-size: 2.5rem;
  vertical-align: baseline;
}

.price-tag p {
  color: #b7bbc3;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}

.price-btn {
  background-color: #fff;
  color: #9fa4af;
  border: 1px solid #9fa4af;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  transition: 0.45s ease;
}

.price-btn:hover {
  background-color: #6e45e2;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
  background-image: -moz-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -webkit-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -ms-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
}

.price-btn:focus, .cta-btn:active {
  outline: none;
}

.price-btn::-moz-focus-inner {
  border: 0;
}

.call-to-action {
  background: url(../image/cta-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15rem;
  color: #fff;
}

.call-to-action span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}

.call-to-action h3 {
  font-size: 5rem;
  margin: 1rem auto 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

/* .cta-btn {
  display: inline-block;
  border: none;
  color: #c2c9db;
  background-color: #fff;
  width: 20rem;
  height: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.cta-btn:hover {
  color: #fff;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 4px rgb(102, 56, 234);
  background-image: -moz-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -webkit-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
  background-image: -ms-linear-gradient( 53deg, rgb(70,175,235) 0%, rgb(90,31,199) 100%);
} */

.cta-btn:focus, .cta-btn:active {
  outline: none;
}

.cta-btn::-moz-focus-inner {
  border: 0;
}

.wrap {
  z-index: 2;
  position: relative;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 700;
  color: #5a1f90;
}

.line {
  display: block;
  width: 90%;
  height: 1px;
  background-color: #9696a6;
  margin: 1rem auto;
}

.legal {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-size: 1.4rem;
  color: #c6c6ca;
  font-weight: 500;
}

.social-links a {
  color: #b4b4bb;
  font-size: 3.5rem;
  display: inline-block;
  align-items: center;
  margin-right: 1.5rem;
}

.ln1:hover {
  color:#7a7a85;
}

.ln2:hover {
  color:#7a7a85;
}

.ln3:hover {
  color:#7a7a85;
}

#contes {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 2px;
	z-index: 9999;
}

#progress {
  width: 0%;
  height: 2px;
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #93EDC7, #1CD8D2);
  background: -o-linear-gradient(left, #93EDC7, #1CD8D2);
  background: linear-gradient(to right, #93EDC7, #1CD8D2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc31b5', endColorstr='#ff8a30', GradientType=1 );
}

::-webkit-scrollbar {
	width: 0px;
}

::-o-scrollbar {
	width: 0px;
}

::-moz-scrollbar {
	width: 0px;
}

::-ms-scrollbar {
	width: 0px;
}
